<div class="container">
	<br/><br/>
	<div class="row">
		<div class="text-center">
			<%= image_tag("logo_tuix.png",:class => "imagen2-responsive") %>
		</div>
	</div><br/><br/>
	<div class="row">
		<div class="text-center">
			<h2>Desarrollo de software a la medida</h2>
			<%= link_to('<h2 class="centered"><span class="glyphicon glyphicon-cloud"></span><span> Ir a página oficial<span/></h2>'.html_safe,"#") %>
		</div>
	</div><br/>
	<div class="row">
		<div class="text-center">
			<%= link_to(image_tag("facebook.png",:size => "150x150"),"https://www.facebook.com/tuixcolombia") %>
			<%= link_to(image_tag("twitter.png",:size => "150x150"),"https://twitter.com/TuixColombia") %>
			<%= link_to(image_tag("googleplus.png",:size => "150x150"),"https://plus.google.com/u/0/b/114561641603084783381/114561641603084783381/about/p/pub") %>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="text-center">
			<%= image_tag("t-bio_logo.png",:class => "imagen1-responsive") %>
		</div>
	</div><br/><br/>
	<div class="row">
		<div class="text-center">
			<h2>Heart Care - Wearable Device</h2>
			<%= link_to('<h2 class="centered"><span class="glyphicon glyphicon-cloud"></span><span> Ir a página oficial<span/></h2>'.html_safe,"http://t-bio.co/") %>
		</div>
	</div><br/>
	<div class="row">
		<div class="text-center">
			<%= link_to(image_tag("facebook.png",:size => "150x150"),"https://www.facebook.com/tbioco") %>
			<%= link_to(image_tag("twitter.png",:size => "150x150"),"https://twitter.com/tbioco") %>
		</div>
	</div>

</div>