<div class="container">
	<h1>Emprendimientos</h1>
	<div class="row">
		<div class="col-md-12 col-md-offset-3">
			<%= image_tag("logo_tuix.png",:size => "500x160",:class => "img-responsive") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-md-offset-4">
			<%= link_to('<h2 class="centered"><span class="glyphicon glyphicon-cloud"></span><span> Ir a pagina oficial<span/></h2>'.html_safe,"#") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-md-offset-3">
			<%= link_to(image_tag("facebook.png",:size => "150x150"),"https://www.facebook.com/tuixcolombia") %>
			<%= link_to(image_tag("twitter.png",:size => "150x150"),"https://twitter.com/TuixColombia") %>
			<%= link_to(image_tag("googleplus.png",:size => "150x150"),"https://plus.google.com/u/0/b/114561641603084783381/114561641603084783381/about/p/pub") %>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-md-12 col-md-offset-3">
			<%= image_tag("t-bio_logo.png",:size => "500x160",:class => "img-responsive") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-md-offset-4">
			<%= link_to('<h2 class="centered"><span class="glyphicon glyphicon-cloud"></span><span> Ir a pagina oficial<span/></h2>'.html_safe,"http://t-bio.co/") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-md-offset-4">
			<%= link_to(image_tag("facebook.png",:size => "150x150"),"https://www.facebook.com/tbioco") %>
			<%= link_to(image_tag("twitter.png",:size => "150x150"),"https://twitter.com/tbioco") %>
		</div>
	</div>
</div>
