<div class="container">
	<h1>Session de <%= @session %></h1>
	<div id="content_menu">
		<%= render :partial => "menu" %>
	</div>
	<h2>Jumbotron</h2>
	<%= form_tag("/admin/actualizar_jumbotron",:multipart => true) do %>
		<%= crud_jumbotron(@jumbotron) %>
		<br/>
		<%= submit_tag("Guardar",:class => "btn btn-primary") %>
	<% end %>
	<br/>
	<h2>Thumbnails</h2>
	<div id="content_thumbnails">
		<%= render :partial => "thumbnails" %>
	</div>
</div>