 
<%= jumbotron(@jumbotron) %>
<div class="container">
	<%= thumbnail_group(@thumbnail_group) %>
	<div class="row">
		<div class="text-center">
			<%= link_to(image_tag("facebook.png",:size => "150x150"),"https://www.facebook.com/elvizcacho") %>
			<%= link_to(image_tag("twitter.png",:size => "150x150"),"https://twitter.com/elvizcacho") %>
			<%= link_to(image_tag("googleplus.png",:size => "150x150"),"https://plus.google.com/+JuanVizcainoRulz") %>
			<%= link_to(image_tag("linkedin.png",:size => "150x150"),"https://www.linkedin.com/pub/sebastian-vizcaino/8a/750/b78") %>
		</div>
	</div>
</div>
