<!DOCTYPE html>
<html>
<head>
  <title>Sebastian Vizcaíno</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= menu_navegacion(@array_hash) %>
<%= yield %>
</br>
<footer>
	<div style="text-align:center;">
		<p>Juan Sebastián Vizcaíno Castro <br/>
		e-mail: elvizcacho@gmail.com, cel: 319 239 9909, Skype ID: elvizcaho</p>
	</div>
</footer>
</body>
</html>